.wrap {
  background-image: url(img/iswanto-arif-448003-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0;
  margin-bottom: 150px;
  min-width: 320px;
}

/*Стили header*/

.logo {
  width: 146.18px;
  height: 54.84px;
  margin-right: 91px;
}

.header {
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 136px;
  margin-top: 16px;
}

.wrap-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.stumb {
  flex: 1;
}

/*Desktop-menu*/

.desktop-nav {
  flex: 1;
  display: flex;
}

.desktop-nav__item {
  text-decoration: none;
  color: #fff;
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  transition: color 2s ease-out;
  padding: 0 19px;
  white-space: nowrap;
}

.desktop-nav__item:hover {
color: #f74242;
}

/*Стили body*/

.main-wrap{
  display: flex;
}

.info{
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
}

.info__content{
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
}

 .info__img {
  background-image: url(img/bali.png);
  background-repeat: no-repeat;
  background-size: 95%;
  width: 537px;
  height: 252px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 49px;
  margin-right: 99px;
}

.info__text {
  width: 535px;
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  font-size: 135%;
  color: #F8EEE4;
  margin: 0px 70px 35px 0px;
}

.info__btn {
  width: 293.76px;
  height: 61.88px;
  background: #D4BEA3;
  border-radius: 48px;
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  transition: background 1s ease-out;
  outline: none;
  margin-right: 310px;
}

.info__btn:hover {
background: #f74242;
}

.pic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 18px;
}

.pic__img-temple  {
  height: 421.88px;
  margin-right: 33px;
}

.pic__img-gates {
  height: 376.69px;
  margin-right: 33px;
}

.pic__img-field {
  height: 374.69px;
}

/*Mobile-menu*/

.mobile-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
  z-index: 9999999;
}

.mobile-nav__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 39px;
  cursor: pointer;
  transition: .4s;
  z-index: 9999;
}
.mobile-nav__icon {
  display: block;
  position: relative;
  background-color: #e5e5e5;
  width: 90%;
  height: 4px;
  transition: .4s;
}
.mobile-nav__icon::after, .mobile-nav__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #e5e5e5;
  width: 100%;
  height: 4px;
  transition: .4s;
}
.mobile-nav__icon::after {
  top: 9px;
}
.mobile-nav__icon::before {
  top: -9px;
}
.mobile-nav__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  background-color: #fff;
}
.mobile-nav__list {
  transition: .5s;
  list-style: none;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mobile-nav__item {
  font-size: 120px;
  padding: 48px;
}

.mobile-nav__link {
  text-decoration: none;
  color: #000;
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  font-weight: bold;
  transition: color 2s ease-out;
}

.mobile-nav__link:hover {
  color:#f74242;
}

.mobile-nav__checkbox {
  display: none;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav  {
  opacity: 1;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__container {
  height: 100%;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn {
  margin-right: 79px;
}

.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background: transparent;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before, .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  top: 0;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #172f27;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #172f27;
}
/*Адаптатив*/

/*1621*/

@media (max-width: 1621px) {
  .wrap-logo {
    flex: 2;
  }
  .desktop-nav {
    flex: 2;
  }
  .header {
    margin-bottom: 96px;
  }
}

/*1540*/

@media (max-width: 1540px){
  .pic {
    margin-top: 25px;
  }
  .pic__img-temple {
    height: 315px;
    margin-right: 29px;
  }
  .pic__img-gates {
    height: 286px;
    margin-right: 28px;
    margin-bottom: 9px;
  }
  .pic__img-field {
    height: 280px;
    margin-bottom: 9px;
  }
  .info__img {
    width: 402px;
    height: 191px;
    margin-bottom: 36px;
    margin-right: 70px;
  }
  .info__subtitle {
    width: 342px;
  }
  .info__text {
    margin: 0px 42px 28px 0px;
    width: 401px;
  }
  .info__btn {
    width: 222.76px;
    height: 45.88px;
    font-size: 17px;
    margin-right: 227px;
  }
  .info__content {
    margin-left: 68px;
  }
}


/*1433*/

@media (max-width: 1433px){
  .header {
    margin-top: -13px;
    margin-bottom: 76px;
  }
  .logo {
    width: 111px;
    height: 42px;
    margin-right: 0px;
  }
   .wrap-logo {
    flex: 1;
  }
  .desktop-nav {
    flex: 1;
  }
  .desktop-nav__item {
    font-size: 17px;
    padding: 0px 14px;
  }
  .info__img {
    width: 402px;
    height: 191px;
    margin-bottom: 36px;
    margin-right: 70px;
  }
  .info__subtitle {
    width: 342px;
  }
  .info__text {
    margin: 0px 42px 28px 0px;
    width: 401px;
  }
  .info__btn {
    width: 222.76px;
    height: 45.88px;
    font-size: 17px;
    margin-right: 227px;
  }
  .pic {
    margin-top: 25px;
  }
  .pic__img-temple {
    height: 315px;
    margin-right: 29px;
  }
  .pic__img-gates {
    height: 286px;
    margin-right: 28px;
    margin-bottom: 9px;
  }
  .pic__img-field {
    height: 280px;
    margin-bottom: 9px;
  }
}

/*1280*/

@media (max-width: 1280px){
  .header {
    margin-top: 2px;
    margin-bottom: 114px;
  }
  .logo {
    width: 132px;
    height: 48px;
  }
  .stumb {
    flex: 1;
  }
  .desktop-nav {
    flex: 2;
  }
  .desktop-nav__item {
    font-size: 19px;
    padding: 0px 19px;
  }
  .info__content {
    margin-right: 52px;
    margin-left: 53px;
  }
  .pic {
    margin-top: 0px;
  }
  .pic__img-temple {
    height: 372px;
    margin-right: 29px;
  }
  .pic__img-gates {
    height: 337px;
    margin-right: 26px;
    margin-bottom: 0px;
  }
  .pic__img-field {
    height: 336px;
    margin-bottom: 0px;
    object-fit: cover;
    width: 49px;
  }
}

/*1250*/
@media (max-width: 1250px){
  .header {
    margin-bottom: 49px;
  }
}

/*1228*/

@media (max-width: 1228px) {
  .desktop-nav {
    flex: 1;
  }
  .stumb {
    flex: 1;
  }
}

@media (max-width: 1213px) {
.stumb {
    flex: 2;
  }
}

/*1200*/

@media (max-width: 1200px) {
  .header {
    margin-bottom: 96px;
  }
  .stumb {
    flex: 1;
  }
  .wrap-logo {
    flex: 2;
  }
  .info__img {
    width: 453px;
    height: 211px;
    margin-right: 42px;
  }
  .info__subtitle {
    width: 387px;
  }
  .info__text {
    margin: 0px 8px 25px 0px;
    width: 463px;
  }
  .info_btn {
    margin-right: 209px;
  }
  .pic__img-temple {
    height: 357px;
  }
  .pic__img-gates {
    height: 324px;
  }
  .pic__img-field {
    height: 324px;
  }
}

/*1164*/

@media (max-width: 1164px){
  .header {
    margin-bottom: 82px;
  }
  .stumb {
    flex: 2;
  }
  .desktop-nav {
    margin-left: 128px;
  }
  .info__img {
    width: 433px;
    height: 211px;
    margin-bottom: 33px;
    margin-right: 44px;
  }
  .info__subtitle {
    width: 369px;
  }
  .info__text {
    margin: 0px 8px 31px 0px;
    width: 447px;
  }
  .info__btn {
    width: 236.76px;
    height: 48.88px;
    font-size: 20px;
    margin-right: 216px;
  }
  .pic {
    margin-bottom: 11px;
  }
  .pic__img-temple {
    height: 338px;
    margin-right: 29px;
  }
  .pic__img-gates {
    height: 306px;
    margin-right: 28px;
    margin-bottom: 22px;
  }
  .pic__img-field {
    height: 305px;
    margin-bottom: 28px;
  }
}

/*1100*/

@media (max-width: 1100px) {
  .header {
    margin-bottom: 83px;
    margin-top: 0px;
  }
  .desktop-nav__item {
    font-size: 16px;
    padding: 0px 21px;
  }
  .info__img {
    height: 201px;
  }
  .info__text {
    margin: 0px 8px 23px 0px;
  }
  .pic {
    margin-bottom: 11px;
  }
  .pic__img-temple {
    height: 324px;
    margin-right: 27px;
  }
  .pic__img-gates {
    height: 290px;
    margin-right: 23px;
    margin-bottom: 0px;
  }
  .pic__img-field {
    height: 290px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1000px) {
  .mobile-nav {
    display: none;
  }
}

/*1001*/

@media (max-width: 1050px) {
  .header {
    margin-bottom: 33px;
  }
  .logo {
    width: 105px;
    height: 45px;
    margin-right: 65px;
  }
  .desktop-nav__item {
    padding: 0px 11px;
  }
  .info__content {
    margin-left: 36px;
    margin-right: 19px;
  }
  .info__img {
    height: 184px;
    margin-right: 65px;
  }
  .info__subtitle {
    width: 330px;
  }
  .info__btn {
    width: 207.76px;
    font-size: 16px;
    margin-right: 210px;
  }
  .pic {
    margin-bottom: 0px;
  }
  .pic__img-temple {
    height: 309px;
    margin-right: 26px;
    padding-top: 13px;
  }
  .pic__img-gates {
    height: 271px;
    margin-right: 19px;
    margin-bottom: -14px;
  }
  .pic__img-field {
    height: 271px;
    margin-bottom: -14px;
  }
}

/*1000*/

@media (max-width: 1000px) {
  .pic {
    display: none;
  }
  .stumb {
    flex: 0;
  }
  .wrap-logo {
    flex: 1;
    padding-left: 16px;
    justify-content: flex-start;
  }
  .header {
    margin-bottom: 33px;
    margin-top: 0px;
    height: 113px;
  }
  .info__content {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
  }
  .info__btn {
    margin-right: 0px;
    width: 207.76px;
    height: 48.88px;
    font-size: 16px;
  }
  .info__img {
    margin-bottom: 19px;
    margin-right: 0px;
    width: 349px;
    height: 168px;
  }
  .info__subtitle {
    width: 285px;
  }
  .info__text {
    font-size: 100%;
    text-align: center;
    width: 379px;
    margin: 0px 0px 23px 0px;
  }
  .mobile-nav__list {
    margin-bottom: 0px;
  }
  .mobile-nav__item {
    font-size: 41px;
    padding: 19px;
  }
  .logo {
    margin-right: 0px;
  }
}

/*Меню*/

@media (min-width: 1000px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 999px) {
  .desktop-nav {
     display: none;
  }
}

/*675*/

@media (max-width: 675px) {
.mobile-nav__checkbox:checked ~ .mobile-nav__btn {
    margin-right: 22px;
  }
}

@media (max-width: 550px) {
.mobile-nav__checkbox:checked ~ .mobile-nav__btn {
    margin-right: 0px;
  }
}

/*375*/

@media (max-width: 375px) {
  .wrap-logo {
    flex: 1;
    padding-left: 16px;
    justify-content: flex-start;
  }
  .header {
    margin-bottom: 75px;
  }
  .mobile-nav {
    margin-right: 0px;
    margin-top: 0px;
  }
  .info__subtitle {
    width: 261px;
    height: 52px;
  }
  .info__img {
    width: 306px;
    height: 151px;
    margin-bottom: 45px;
  }
  .info__text {
    width: 316px;
    text-align: center;
    margin: 0px 0px 37px 0px;
  }
  .info__btn {
    width: 207.76px;
    height: 41.88px;
    font-size: 16px;
    margin-left: 0px;
    padding: 0px;
  }
  .mobile-nav__btn {
    width: 34px;
  }
  .mobile-nav__icon {
    height: 4px;
  }
  .mobile-nav__icon::after, .mobile-nav__icon::before {
    height: 4px;
  }
  .mobile-nav__icon::after {
    top: 9px;
  }
  .mobile-nav__icon::before {
    top: -9px;
  }
  .mobile-nav__list {
    margin-bottom: 53px;
  }
  .mobile-nav__item {
    font-size: 35px;
    padding: 24px;
  }
}